#ohsnap {
  position: absolute;
  top: 1vh;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, 0%);
}

.alert {
  border: 1px solid #eed3d7;
  width: 100%;
  float: right;
  clear: right;
  background-color: white;
  font-size: 15px;
  padding: 10px 10px;
  margin: 5px;
  text-align: center;
}

.alert-red {
  color: white;
  background-color: #9808cc65;
  border-radius: 5px;
  border: 3px solid #9708cc;
  color: white;
  border-radius: 40px;
}
.alert-green {
  color: white;
  background-color: #37bc9b71;
  border-radius: 5px;
  border: 3px solid #37bc9b;
  color: white;
  border-radius: 40px;
}
.alert-blue {
  color: white;
  background-color: #4a89dc;
}
.alert-yellow {
  color: white;
  background-color: #f6ba4281;
  border-radius: 5px;
  border: 3px solid #f6bb42;
  color: white;
  border-radius: 40px;
}
.alert-orange {
  color: white;
  background-color: #e9573f;
}
