<div class="col-12 d-none d-md-block col-md-3 chat-container">
  <div
    id="chat"
    class="d-flex align-items-start flex-column justify-content-end"
  >
    <div id="chatContent"></div>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Enter message"
        aria-describedby="sendButton"
        id="chatInput"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary chat-send"
          type="button"
          id="sendButton"
        >
          <i class="fas fa-paper-plane"></i>
        </button>
      </div>
    </div>
  </div>
</div>
