<div class="controls">
  <button class="deselected" id="muteButton">
    <i class="fas fa-microphone-slash fa-lg"></i>
  </button>
  <button class="deselected" id="videoButton">
    <i class="fas fa-video-slash fa-lg"></i>
  </button>
  <button class="selected" id="disconnectButton">
    <i class="fas fa-phone-slash fa-lg"></i>
  </button>
</div>;
