<!-- control bar for the video call page -->

<div class="controls-container d-flex">
  <div class="controls">
    <div class="users p-2">
      <span id="userNumber" class="heading"></span>
      <i class="fas fa-user fa-lg"></i>
    </div>
  </div>
  <div class="controls">
    <button class="deselected" id="muteButton">
      <i class="fas fa-microphone-slash fa-lg"></i>
    </button>
    <button class="deselected" id="videoButton">
      <i class="fas fa-video-slash fa-lg"></i>
    </button>
    <button class="selected" id="disconnectButton">
      <i class="fas fa-phone-slash fa-lg"></i>
    </button>
  </div>
  <div class="controls">
    <button class="deselected" id="screenshareButton">
      <i class="fas fa-desktop fa-lg"></i>
    </button>
    <button class="deselected" id="handButton">
      <i class="fas fa-hand-paper fa-lg"></i>
    </button>
    <button class="deselected" id="gestureButton">
      <i class="fas fa-hand-sparkles fa-lg"></i>
    </button>
    <button class="deselected" id="captionButton">
      <i class="fas fa-closed-captioning fa-lg"></i>
    </button>
    <button class="deselected d-none" id="translateButton">
      <i class="fas fa-language fa-lg"></i>
    </button>
    <div class="d-none" id="languageSelector">
      <select name="languages" id="languages" class="d-block" required>
        <option value="ko">Korean</option>
        <option value="ja">Janapnese</option>
        <option value="es">Spanish</option>
        <option value="hi">Hindi</option>
        <option value="ur">Urdu</option>
        <option value="gu">Gujrati</option>
      </select>
      <div class="d-flex justify-content-center">
        <button class="deselected" id="languageSubmit">Translate</button>
      </div>
    </div>
  </div>
</div>
