<div class="controls-container d-flex">
  <div class="controls">
    <div class="roomDetails">
      <!-- <button id="copyRoom">
        <span class="heading">Invite</span>
        <i class="fas fa-user-plus fa-md mr-2"></i>
      </button> -->
      <!-- <span id="roomLink"></span> -->
    </div>
    <button class="deselected" id="muteButton">
      <i class="fas fa-microphone-slash fa-lg"></i>
    </button>
    <button class="deselected" id="videoButton">
      <i class="fas fa-video-slash fa-lg"></i>
    </button>
    <button class="selected" id="disconnectButton">
      <i class="fas fa-phone-slash fa-lg"></i>
    </button>
  </div>
  <div class="controls">
    <button class="deselected" id="handButton">
      <i class="fas fa-hand-paper fa-lg"></i>
    </button>
    <button class="deselected" id="gestureButton">
      <i class="fas fa-hand-sparkles fa-lg"></i>
    </button>
    <div class="users mx-2 mr-3 d-inline-block">
      <span id="userNumber" class="heading"></span>
      <i class="fas fa-user fa-lg"></i>
    </div>
  </div>
</div>
