<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <script>
      const ROOMID = "<%= roomId %>";
      const USERNAME = "Placeholder";
    </script>
    <%- include('partials/bootstrapInit') %>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/home.js" defer></script>

    <link rel="stylesheet" href="css/homepage/home.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">Teams</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <!-- <li class="nav-item">
              <a class="nav-link">New Meeting</a>
            </li> -->
        </ul>
      </div>
    </nav>
    <div class="content d-flex align-items-center justify-content-center">
      <div class="meetDetails">
        <h1 id="intro">Welcome!</h1>
        <div>
          <label class="mr-3" for="username">Username: </label>
          <input
            type="text"
            id="username"
            name="username"
            class="homeInput"
            placeholder="Enter Username"
          /><br />
          <button id="newRoomBtn" class="hvr-sweep-to-right homeButton">
            New Meeting
          </button>
        </div>
        <button id="joinRoomBtn" class="hvr-sweep-to-right homeButton">
          Join Meeting
        </button>
        <p class="joinInstructions">Click join to enter room invite</p>
      </div>
    </div>
  </body>
</html>
