<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Chat</title>
    <script>
      const ROOMID = "<%= roomId %>";
    </script>
    <script
      src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"
      defer
    ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/script.js" defer></script>
    <link rel="stylesheet" href="css/room.css" />
  </head>
  <body>
    <h3>RoomID: <%= roomId %></h3>
    <div id="video-grid"></div>
  </body>
</html>
