body {
  background-color: #141414;
  overflow-y: auto;
  color: white;
  font-family: "Montserrat", sans-serif;
}

nav {
  background-color: #000000 !important;
}

.row {
  margin: 20px 0px;
}

.controlPanel {
  /* margin: 10px; */
  /* margin: 20px 0px; */
  background-color: #000000;
  padding: 20px;
  border-radius: 10px;
  height: fit-content;
}

.controlPanel button {
  width: 100%;
  padding: 10px;
  margin: 8px;
  background-color: #9ea1ff55;
  border: 3px solid #9ea2ff;
  border-radius: 5px;
  color: white;
}

.chatContainer {
  background-color: #28242c;
  height: fit-content;
  border-radius: 10px;
}

.submit input {
  background-color: #202020;
  outline: none;
  border: none;
  border-radius: 0;
  border-bottom: 3px solid #9ea1ff;
  /* margin-top: 8px; */
}

.meetingId {
  font-weight: 600;
}

#chat {
  background-color: #28242c;
  /* min-height: 95vh; */
  height: 75vh;
  width: 100%;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 0;
  padding: 0;
}

#chatContent {
  min-height: 10vh;
  height: 100%;
  width: 100%;
  overflow: auto;
  margin-top: 0;
  padding: 15px;
  padding-top: 20px;
  /* background-color: rebeccapurple; */
}

#sendButton {
  border-radius: 0px;
  border-bottom-right-radius: 5px;
  border: 3px solid #9ea1ff;
  color: white;
}
